# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# VSCode
.vscode/

# Mac/Linux
.DS_Store

# Pyenv
.python-version
